@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:wght@400;500;900&display=swap');

:root {
    --blue: #007bff;
    --blue-faded: #007bff77;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --orange-faded: #fd7d144b;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --teal-faded: #20c9968a;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --light-faded: #f8f9fa70;
    --dark: #343a40;
    --font-family-sans-serif: "Josefin Sans", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-weight: 500;
    font-style: normal;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    font-family: var(--font-family-sans-serif);
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

input {
    border: 3px solid var(--cyan);
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s;
}

input:hover {
    border-color: #60be58;
    box-shadow: 0 0 5px rgba(211, 208, 208, 0.2);
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

textarea {
    border: 3px solid var(--cyan);
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s;
}

textarea:focus {
    border-color: #60be58;
    box-shadow: 0 0 5px rgba(211, 208, 208, 0.2);
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* Text size classes */
.font-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.font-s {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.font-m {
    font-size: 1rem;
    line-height: 1.5rem;
}

.font-l {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.font-xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.bold {
    font-weight: 900;
}

.text-center {
    text-align: center;
}

.radius-s {
    border-radius: 5px;
}

.radius-m {
    border-radius: 9px;
}

.radius-l {
    border-radius: 12px;
}

.btn-hover {
    transition: all 0.2s ease-in-out;
}

.btn-hover:hover {
    filter: brightness(105%);
    box-shadow: 0px 0px 3px 3px var(--light-faded);
    cursor: pointer;
    color: var(--light);
    background-color: var(--cyan);
}

.cool-hover-big {
    transition: all 0.3s ease-in-out;
}

.cool-hover-big:hover {
    filter: brightness(110%);
    box-shadow: 0 0 5px var(--gray-dark);
}

.cool-hover {
    transition: all 0.3s ease-in-out;
}

.cool-hover:hover {
    filter: brightness(80%);
    transform: scale3d(1.05, 1.05, 1.05);
    box-shadow: 0 0 5px var(--gray-dark);
}

.grid-col-span-2 {
    grid-column: span 2;
}

.active {
    filter: brightness(65%);
}

.display-none {
    display: none;
}

.display-flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*-------*/
/*-RESET-*/
/*-------*/

.big-rounded-square {
    padding: 15px;
    margin: 50px;
    margin-top: 20px;
    border-radius: 10px;
}

header {
    background-color: #c4d5da5e;
}

.container,
.container-fluid {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.main {
    background-color: var(--teal);
}

.main>.container {
    display: flex;
    flex-direction: row;
    gap: 1em
}

.options-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em;
    filter: brightness(90%);
    width: 100%;
}

.option {
    padding: 5px;
    background-color: var(--teal-faded);
    display: flex;
    gap: 3px;
    justify-content: center;
}

.option-active {
    background-color: var(--cyan);
}

.col-left,
.col-right {
    padding: 10px;
    background-color: red;
}

.col-left {
    background-color: var(--secondary);
    width: 70%;
}

.col-right {
    background-color: var(--orange);
    width: 30%;
}

.btn-download-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-png,
.btn-svg {
    background-color: var(--cyan);
    max-width: 48%;
    padding: 10px;
}

.btn-generate {
    background-color: var(--cyan);
    max-width: 50%;
    border: none;
    padding: 10px;
}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 768px) {

    .col-left,
    .col-right {
        width: 100%;
    }

    .container {
        max-width: 720px;
    }

    .main>.container {
        flex-direction: column;
    }

    .main {
        background-color: var(--gray-dark);
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }

    .options-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .main {
        background-color: var(--light);
    }
}

@media (max-width: 380px) {
    .options-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .main {
        background-color: var(--orange-faded);
    }

    .btn-download-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }

    .btn-png,
    .btn-svg {
        max-width: 80%;
    }

    .btn-generate {
        font-size: small;
    }
}